body {
    display: grid;
    grid-template-areas: 
    "header header"
    "image about"
    "footer footer";
    gap: 45px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url(../images/bg-desktop.svg);
    background-color: var(--primary-color);
    width: 100%;
}

.header {
    grid-area: header;
}

.logo {
    margin-top: 20px;
    padding-bottom: 10px;
}

.container {
    display: flex;
    grid-area: image;
    gap: 25px;
}

.container .about  {
    grid-area: about;
    padding: 3px;
}

.about .info .title {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 57px;
    color: #fff;
}

.about .info p {
    margin-top: 22px;
    font-size: 19px;
    line-height: 27px;
    color: #fff;
}

.about .info .button {
    margin-top: 19px;
    padding: 17px 65px;
    font-size: 20px;
    border-radius: 55px;
    border: 1px solid #000000;
    color: var(--primary-color);
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: end;
    padding: 2px 50px;
}

.footer i{
    padding: 10px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 17px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
}
